.bookmarkItem{
    margin-bottom: 20px;
}

.bookmarkItem tr{
    margin-bottom: 20px !important;
}

.bookmarkItem td,
.bookmarkItem th{

    background: transparent;
    color: #ffffff;
    font-size: 1.6rem;
}

.bookmarkItem img{
    width: 120px;
    height: 70px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}